@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: url(../images/bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    /* background-size: cover; */
}

header img{
    padding: 25px;
    width: 50%;
    
}

main{
    margin: 5%;
    padding: 20px;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content{
    margin: 5%;
}


.content h2{
    color: hsl(0,0%,100%);
    padding-top: 2em; 
    text-align: center;
    line-height: 1.5; 
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}

.content p{
    color:hsl(240, 4%, 89%);
    padding: 0 2em 0 1em;
    margin: 5%; 
    text-align: center;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 2;

}


button{
    margin:10% 20% 10% 15%;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0,0%,100%);
    border-radius: 40px;
    border: none;
    width: 70%;
    color: hsl(257, 40%, 49%);
    box-shadow: 0 5px 5px 0 hsla(257, 41%, 36%)
}

button:hover{
    cursor: pointer;
    transition: 3s;
    background-color:hsl(300, 69%, 71%);
}

.footer-cont .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    margin: 0 0 0 20%;
    /* color: white;s */
    padding: 0 60px;
    width: 60%;
    
    
}

.fa-brands{

    width: 30px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    margin: 30px 2px 20px 2px; 
    border-radius: 50%;
    /* color: hsl(0, 0%, 100%); */
    border: 2px solid hsla(0, 0%, 100%, 0.8);
}

.attribution{
    color:hsl(0,0%,100%);
    text-align: center;
    margin: 20%;
    font-size: 11px;

}

.attribution a{
    color: hsl(300, 69%, 71%);
}


@media screen and (min-width:600px) and (max-width:2000px) {

    body{
        background-color:hsl(257, 40%, 49%);
        background-image: url(../images/bg-desktop.svg);
        /* background-image: url(./images/bg-mobile.svg); */
        background-repeat: no-repeat;
        background-size: contain;
        /* background-size: auto; */
        /* height: 50vh; */
        
    }
    
    header img{
        padding: 55px 20px 0 35px;
        width: 20%;
    }
    
    main{
        padding: 10px;
        
        
    }
    .container{
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: row;
    }

    .img{
        width: 155%;
        
    }
    .content{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
        padding: 10px;
        /* padding:0 25px 0 5px; */
        margin: 0vh;
        margin-bottom: 5em;
        
    
        
        
        
        
        
    }
    
    
    .content h2{
        color: hsl(0,0%,100%);
        padding-right: 0;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 32px;
    }
    
    .content p{
        color:hsl(240, 4%, 89%);
        padding: 0 10px;
        margin: 5%;
        text-align: center;
        font-size: 11px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.5;
    
    }
    
    
    button{
    /* margin:10% 20% 10% 20% */
    /* padding: 15px; */
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0,0%,100%);
    border-radius: 40px;
    border: none;
    width: 40%;
    color: hsl(257, 40%, 49%);
    box-shadow: 0 5px 5px 0 hsla;
    margin: 0 5px;
    
    }
    
    
    button:hover{
        cursor: pointer;
        transition: 3s;
        background-color:hsl(300, 69%, 71%);
    }

    .footer-cont{
        display: flex;
        justify-content:flex-end;
        align-items: center;
        flex-direction: row;
    }
    .footer-cont .icons{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        margin: 0vh 0 0 30%;
        color: white;
        padding: 0 60px;
        
        
    }
    
    .fa-brands{
    
        width: 30px;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        font-size: 30px;
        margin: 30px 2px 20px 2px; 
        border-radius: 50%;
        color: hsl(0, 0%, 100%);
        border: 2px solid hsla(0, 0%, 100%, 0.8);
    }
    
    .icons{
        
        /* margin: 20% 0 0 40%; */
        /* margin: 0 0 0 50%; */
        /* margin: 0 0 0 auto; */
        color: white;
        padding: 0 60px;
        width: 50%;
    }
    
    
          .fa:hover {
            color: hsl(300, 69%, 71%);
            border: 2px solid hsl(300, 69%, 71%);
          }
          
    
    .attribution{
        color:hsl(0,0%,100%);
        text-align: center;
        /* margin-left: 30%; */
        padding: 0 5px 0 5px ;
        font-size: 11px;
    
    }
    
    .attribution a{
        color: hsl(300, 69%, 71%);
    } 






}